<!DOCTYPE html>
{% load static %}

<html>

<head>
  <meta charset="utf-8">
  <title>Sepo</title>
  <link href="https://fonts.googleapis.com/css?family=Sunflower:300" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'login-header-menu.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lecture.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'mainPage-style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'wrapper.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'table.css' %}">
</head>

<body>
  <div class="login">
{% if User.is_active %}
    <a class="loginBar" style="margin-right:4px;">{{ User.id }}</a>

{% else %}
    <a href="http://141.223.163.207:8000/user/login" class="loginBar" style="margin-right:4px;">로그인</a>
    <a href="http://141.223.163.207:8000/user/join" class="loginBar">회원가입</a>

{% endif %}
    </div>
  <div class="header">
    <a href="http://141.223.163.207:8000/" title="Sepo"><img id="mainLogo" src="{% static 'logo_typeB_1.png' %}"></img></a>
  </div>
  <div class="menu">
    <a href="http://141.223.163.207:8000/post/view/1/" class="menuBar">Lecture</a>
    <a href="Rank.html" target="_blank" class="menuBar">Rank</a>
{% if User.is_active %}
    <a href="http://141.223.163.207:8000/community/" class="menuBar">Community</a>
{% else %}
     <a href="http://141.223.163.207:8000/user/login/" class="menuBar">Community</a>

{% endif %}
    <a href="community.html" class="menuBar">Q & A</a>
  </div>
  <div class="wrapper">
    <div class="lecture">
      <h2>
        <a href="http://141.223.163.207:8000/post/view/1/">강의</a>
      </h2>
      <ol type="a" style="list-style: none; padding-left: 1px;">
{% for lecture in lecdata %}
        <li class="lectureList"><a href="{% url 'post_view' pk=lecture.pk %}">{{ lecture.title }}</a></li>
{% endfor %}
        </ol>
    </div>
    <div class="main">
      <div class="mainElement">
        <img src="{% static 'icons.png' %}" height="468px" width=auto style="position: relative;"></img>
        <div id="hello">
          <p>
            <br>어쩌구 저쩌구
            <br>블랍르바르ㅏ브랍
          </p>
          <p>
            <br>에휴 인생 개꿀 진짜
            <br>언제까지 이래야하나
          </p>
          <p>
            <br>힝힝 너무 힘들엉
            <br>그러므로 우리는
            <br>보안을 해야 합니다!!
          </p>
          <p>
            <br>왜냐하면 우리가 가진 것들을
            <br>지켜야 하기
            <br>때문에
          </p>
          <p>
            <br>그것이 우리가 살아야
            <br>할 길이기 때무넹
            <br>힘들어도 공부는 해야지 에휴 ㅋ
          </p>
        </div>
      </div>
    </div>

    <div class="rank">
      <a href="Rank.html" target="_blank"><h2>순위</h2></a>
      <table class="type01">
        <tr style="length:0px;">
          <th scope="row" style="border-top: 0px; width: 30px;"></th>
          <td style="border-top: 0px; width: 90px;"></td>
          <td style="border-top: 0px; width: 90px;"></td>
          <td style="border-top: 0px; width: 60px;"></td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>ID</td>
          <td>별명</td>
          <td>점수</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>s</td>
          <td>s</td>
          <td>s</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>s</td>
          <td>s</td>
          <td>s</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>s</td>
          <td>s</td>
          <td>s</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>s</td>
          <td>s</td>
          <td>s</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>s</td>
          <td>s</td>
          <td>s</td>
        </tr>
      </table>

    </div>
    <div class="qna">
      <h2><a href="community.html">커뮤니티</h2></a>
      <table class="type01">
        <tr style="length:0px;">
          <th scope="row" style="border-top: 0px; width: 30px;"></th>
          <td style="border-top: 0px; width: 200px;"></td>
          <td style="border-top: 0px; width: 30px;"></td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>글제목</td>
          <td>날짜</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>s</td>
          <td>s</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>s</td>
          <td>s</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>s</td>
          <td>s</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>s</td>
          <td>s</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>s</td>
          <td>s</td>
        </tr>
      </table>
    </div>
  </div>
  </div>

  <div class="footer">
    <ul style="margin-top: 15px; margin-bottom: 3px;">2018 Object-Oriented Programming</ul>
    <ul style="margin-top: 3px; margin-bottom: 3px;">copyright@Group6Sepo</ul>
  </div>


</body>

</html>
