<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <title>SepoLecture</title>
  <link rel="stylesheet" type="text/css" href="{% static 'login-header-menu.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lecture.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'wrapper.css' %}">
  <style>
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
a:link    {color:black; background-color:transparent; text-decoration:none}
a:visited {color:black; background-color:transparent; text-decoration:none}
a:hover   {color:black; background-color:transparent; text-decoration:none}
body {
    font-family: "Nanum Gothic", sans-serif;}

    .button {
      height: 40px;
      width: 60px;
      background: #CCE1FF;
      border: 0px;
      border-radius: 4px;
    }
  </style>
</head>

<body>
<div class="login">
 {% if User.is_active %}
    <a class="loginBar" style="margin-right:4px;">{{ User.id }}</a>

{% else %}
    <a href="http://141.223.163.207:8000/user/login" class="loginBar" style="margin-right:4px;">로그인</a>
    <a href="http://141.223.163.207:8000/user/join" class="loginBar">회원가입</a>

{% endif %}
    </div>
  <div class="header">
    <a href="http://141.223.163.207:8000/" title="Sepo"><img id="mainLogo" src="{% static 'logo_typeB_1.png' %}"></img></a>
  </div>
  <div class="menu">
    <a href="http://141.223.163.207:8000/post/view/1/" class="menuBar">Lecture</a>
    <a href="Rank.html" target="_blank" class="menuBar">Rank</a>
    <a href="http://141.223.163.207:8000/community/" class="menuBar">Community</a>

    <a href="community.html" class="menuBar">Q & A</a>
  </div>
  <div class="wrapper">
    <div class="lecture">
      <h2 style="margin-top: 0px; font-weight: normal; padding-bottom: 15px; padding-bottom: 15px; border-bottom: 1px dotted #8992a3;">
        <a href="Lecture.html" style="text-decoration: none;">강의</a>
      </h2>
      <ol type="a" style="list-style: none; padding-left: 1px;"> 
{% for lecture in lecdata %}

        <li class="lectureList"><a href="{% url 'post_view' pk=lecture.pk %}">{{ lecture.title }}</a></li>
{% endfor %}
        </ol>
    </div>
    <div class="Problem">
    <form>
        {{post.text | safe }}
    </form>

    {% if solved  == "Not Solved" %}
    <h1>not solved</h1>
    
    <form action="validate/" method = "POST">
	 <table>
	 <th><table>
	 <tr>
	 {% csrf_token %}
	 {{ answerform }}</tr></table></th>
	 <th><table><td><input type = "submit" value = "SUBMIT"></td></table></th>
	 </table>
    </form>

    {% elif solved == "Solved" %}
    <h1>solved</h1>
    {% endif %}

      <div style="margin-bottom: 410px;">

      </div>
<input class="button" type="button" value="연습문제">
 

        <input class="button" type="button" value="이전" href="{% url 'post_view' pk=3 %}">
        <input class="button" type="button" value="다음" style="margin-left: 593px;" href="{% url 'post_view' pk=4 %}">
    </div>
  </div>

  <div class="footer">
    <ul style="margin-top: 15px; margin-bottom: 3px;">2018 Object-Oriented Programming</ul>
    <ul style="margin-top: 3px; margin-bottom: 3px;">copyright@Group6Sepo</ul>
  </div>

</body>

</html>
